$color-primary: rgb(245, 245, 245);
$bg-color-main: rgb(20, 20, 20);
$bg-color-secondary: rgb(40, 40, 40);
$color-text-primary: rgb(200, 200, 200);;
$text-secondary: rgb(200, 200, 200);
$color-button:rgb(40, 40, 40);
$color-button-hover:rgb(200, 200, 200);;